
@{
    ViewData["Title"] = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Application</title>
</head>
<body>
    <div>
        <h3>List of test entities</h3>
        <table>
            <tr>
                <td><p><a href="/Countries/List/">Countries list</a></p></td>
            </tr>
            <tr>
                <td><p><a href="/Cities/List/">Cities list</a></p></td>
            </tr>

        </table>
    </div>
</body>
</html>